# Local / OS
.DS_Store
.idea/
.vscode/
*.swp

# Secrets & credentials
.env
.env.*
!.env.example
*.pem
credentials.json
application_default_credentials.json

# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.*
**/terraform.tfvars
!**/terraform.tfvars.example
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Docker / build
*.log
